<a href="https://colab.research.google.com/github/phanubis/Analise-regional-educacional-ENEM/blob/main/Analise_educacional_com_base_ENEM_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Primeiro commit

In [158]:
!git config --global user.email "seu@email.com"
!git config --global user.name "Seu Nome"

In [162]:
%cd /content/projeto

/content/projeto

In [163]:
!git init

hint: Using 'master' as the name for the initial branch. This default branch name
hint: is subject to change. To configure the initial branch name to use in all
hint: of your new repositories, which will suppress this warning, call:
hint:
hint: 	git config --global init.defaultBranch <name>
hint:
hint: Names commonly chosen instead of 'master' are 'main', 'trunk' and
hint: 'development'. The just-created branch can be renamed via this command:
hint:
hint: 	git branch -m <name>
Initialized empty Git repository in /content/projeto/.git/

In [165]:
!git add .

In [166]:
!git commit -m "Adicionar notebook"

[master (root-commit) 399d743] Adicionar notebook
 4 files changed, 3726997 insertions(+)
 create mode 100644 MICRODADOS_ENEM_2022.csv
 create mode 100644 MICRODADOS_ENEM_2022.rar
 create mode 100644 dataset_ENEM_2022_RJ.csv
 create mode 100644 subdataframe.csv

In [168]:
!git push -u master

fatal: 'master' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

In [140]:
!git config --global user.email 'phsl.math@gmail.com'
!git config --global user.name 'phanubis'

In [141]:
!git commit -m 'limpeza de dados'

On branch master
nothing to commit, working tree clean

In [142]:
!git remote add origin https://github.com/phanubis/Analise-educacional-ENEM.git

error: remote origin already exists.

In [130]:
%cd /content/

/content

In [149]:
!git push -u master

fatal: 'master' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

In [19]:
!pip install unrar

Collecting unrar
  Downloading unrar-0.4-py3-none-any.whl (25 kB)
Installing collected packages: unrar
Successfully installed unrar-0.4

In [20]:
import os
from pathlib import Path

# Especifique o caminho para o arquivo .rar
caminho_arquivo_rar = '/content/MICRODADOS_ENEM_2022.rar'

# Especifique o diretório de destino para a extração
diretorio_destino = '/content/'

# Crie o diretório de destino se ainda não existir
Path(diretorio_destino).mkdir(parents=True, exist_ok=True)

# Descompacte o arquivo .rar
comando_unrar = f'unrar x "{caminho_arquivo_rar}" "{diretorio_destino}"'
os.system(comando_unrar)

0

## Proposta

descrição da proposta

## Pacotes e Bibliotecas

In [21]:
import pandas as pd

## Exploração de dados

faça o código de exploração de dados:

- coleta de dados;
- wrangling da estrutura;
- exploração do schema;
- etc.

In [22]:
# criando o dataset com os micro dados do ENEM 2022.
dataset = pd.read_csv('/content/MICRODADOS_ENEM_2022.csv', encoding='ISO-8859-1', sep=';')

In [23]:
# Verificando o dataset
dataset.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210057943671,2022,14,M,2,2,1,1,2,1,...,B,A,A,A,A,A,A,A,A,A
1,210057516120,2022,14,M,2,1,1,1,16,1,...,E,E,B,E,B,B,E,B,E,B
2,210057280536,2022,5,F,1,2,1,1,2,1,...,A,A,A,A,A,A,C,A,A,B
3,210055724397,2022,6,M,1,3,1,1,2,1,...,B,A,A,C,A,A,C,B,B,B
4,210055097896,2022,4,M,0,3,1,1,1,1,...,A,A,A,A,A,A,B,A,A,A

In [24]:
# verificando o tamanho do DS
dataset.shape

(3476105, 76)

filtrando apenas as colunas de interesse para a Análise
afim de facilitar o processamento.

In [25]:
# Separando apenas as colunas de interesse para a análise
colunas_interesse = [
    'NU_INSCRICAO',
    'TP_FAIXA_ETARIA',
    'TP_ST_CONCLUSAO',
    'TP_ANO_CONCLUIU',
    'TP_ESCOLA',
    'NO_MUNICIPIO_PROVA',
    'SG_UF_PROVA',
    'TP_PRESENCA_CN',
    'TP_PRESENCA_CH',
    'TP_PRESENCA_LC',
    'TP_PRESENCA_MT',
    'NU_NOTA_CN',
    'NU_NOTA_CH',
    'NU_NOTA_LC',
    'NU_NOTA_MT',
    'TP_LINGUA',
    'TP_STATUS_REDACAO',
    'NU_NOTA_COMP1',
    'NU_NOTA_COMP2',
    'NU_NOTA_COMP3',
    'NU_NOTA_COMP4',
    'NU_NOTA_COMP5',
    'NU_NOTA_REDACAO'
]
dataset_col = dataset[colunas_interesse]

In [26]:
dataset_col.head()

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,NO_MUNICIPIO_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,210057943671,14,1,2,1,Brasília,DF,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,210057516120,14,1,16,1,Brasília,DF,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210057280536,5,1,2,1,Presidente Tancredo Neves,BA,1,1,1,...,498.8,565.3,1,1.0,140.0,200.0,120.0,140.0,160.0,760.0
3,210055724397,6,1,2,1,Cariacica,ES,1,1,1,...,357.8,416.0,1,1.0,120.0,40.0,40.0,100.0,20.0,320.0
4,210055097896,4,1,1,1,Salinópolis,PA,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
dataset_col.shape

(3476105, 23)

In [28]:
# Salvar o DF menor para facilitar uma nova subida dos dados.
dataset_col.to_csv('subdataframe.csv', index=False)

In [44]:
# Função lambda para filtrar apenas os dados cuja coluna SG_UF_PROVA = 'RJ'.
filtro_estado_rj = lambda dataset: dataset[dataset['SG_UF_PROVA'] == 'RJ']

In [46]:
# chamando a função e passando como parâmetro
dataset_estado_rj = filtro_estado_rj(dataset_col)

In [47]:
# Verificando se DF foi criado
dataset_estado_rj.head()

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,NO_MUNICIPIO_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,...,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
5,210057850231,5,1,2,1,Rio de Janeiro,RJ,0,0,0,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,210055778089,6,1,0,1,São Gonçalo,RJ,1,1,1,...,400.2,404.9,1,1.0,100.0,120.0,80.0,100.0,40.0,440.0
19,210054722657,2,3,0,1,Macaé,RJ,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,210056235859,4,1,0,1,Itaguaí,RJ,1,1,1,...,527.0,343.0,1,1.0,120.0,120.0,120.0,120.0,160.0,640.0
44,210056524758,5,1,2,1,Rio de Janeiro,RJ,0,1,1,...,571.6,NaN,1,1.0,120.0,120.0,100.0,120.0,120.0,580.0

In [48]:
# Verificando novo tamanho do DF
dataset_estado_rj.shape

(250890, 23)

In [50]:
# salvando csv com dados apenas do estado RJ
dataset_estado_rj.to_csv('dataset_ENEM_2022_RJ.csv', index=False)

In [61]:
# verificando tipo de dados das colunas
dataset_estado_rj.dtypes

NU_INSCRICAO            int64
TP_FAIXA_ETARIA         int64
TP_ST_CONCLUSAO         int64
TP_ANO_CONCLUIU         int64
TP_ESCOLA               int64
NO_MUNICIPIO_PROVA     object
SG_UF_PROVA            object
TP_PRESENCA_CN          int64
TP_PRESENCA_CH          int64
TP_PRESENCA_LC          int64
TP_PRESENCA_MT          int64
NU_NOTA_CN            float64
NU_NOTA_CH            float64
NU_NOTA_LC            float64
NU_NOTA_MT            float64
TP_LINGUA               int64
TP_STATUS_REDACAO     float64
NU_NOTA_COMP1         float64
NU_NOTA_COMP2         float64
NU_NOTA_COMP3         float64
NU_NOTA_COMP4         float64
NU_NOTA_COMP5         float64
NU_NOTA_REDACAO       float64
dtype: object

In [101]:
# função para filtrar linhas do DF.
# parametros: dataset e coluna
filtro_dataset_rj_presenca =  lambda dataset, col,val:dataset[dataset[col] == val]

In [102]:
dataset_rj_presenca = filtro_dataset_rj_presenca(dataset_estado_rj, 'TP_PRESENCA_CN',1)
dataset_rj_presenca = filtro_dataset_rj_presenca(dataset_estado_rj, 'TP_PRESENCA_CH',1)
dataset_rj_presenca = filtro_dataset_rj_presenca(dataset_estado_rj, 'TP_PRESENCA_LC',1)
dataset_rj_presenca = filtro_dataset_rj_presenca(dataset_estado_rj, 'TP_PRESENCA_MT',1)

In [103]:
# verificando o tamanho do DF sómente com candidatos que compareceram as provas
dataset_rj_presenca.shape

(169524, 23)

In [120]:
#celular comentada